<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Ready to Take Your Business
            <br/>
            to the Next Level?
        </h2>
        <p> 
            <font size="+2">Tailored finance leadership that gets you from where you are to where you want to be.</font>
        </p>
        <a href="/contact" class="cs-button-solid">Get in Touch</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/laptop-cta.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/laptop-cta.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/laptop-cta.jpeg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>