<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>

                    </li>
                </ul>
                <ul>
                    <li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                
                        <a href="mailto:fred@meycfo.com">fred@meycfo.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span class="copyright">
            Mey CFO Services - Copyright {% year %}</span>

    </div>
</footer>
