---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hands.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hands.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hands.jpg" alt="business success" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/me.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/me.jpeg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/me.jpeg" alt="Fred Mey" loading="lazy" width="400" height="563">
                </picture>
        
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Mey CFO Services</span>
                <h2 class="cs-title">Hi, I'm Fred Mey!</h2>
                <p class="cs-text">
                    I'm a finance enthusiast, helping business owners achieve their financial goals for over 6 years. I have scaled VC-backed startups as CFO and worked on financial strategy and M&A projects of international corporations. I hold degrees from The London School of Economics and University of Mannheim, and am certified in financial modeling and data analytics and
                    </p>
                    <p>
                    With Mey CFO Services, I am the collaborative business partner by your side, empowering you to lead your business with forward-looking strategy and informed decision-making. 
                </p>
                <p>
                    <p></p>
                    <p></p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        “We became too big to handle finances on our own. With Fred, we improved our profit margin by 40% while executing our growth plan. He really understands our preferences and comfort level. It’s a high-trust relationship.” 
                    </p>
                    <span class="cs-name">John Doe</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </p>
                <a href="/contact" class="cs-button-solid">Get in touch</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}