/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: (1280/16rem);
            width: 100%;
            row-gap: (40/16rem);
        }

        .cs-left {
            position: relative;
            height: (636/16em);
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
        }

        .cs-picture {
            position: absolute;
            display: block;
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            top: 0;
            left: 0;
            height: 36.3125em;
            width: 32.625em;
        }

        .cs-picture2 {
            bottom: 0;
            right: 0;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            height: 25em;
            width: 25.875em;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        }

        .cs-right {
            margin: auto;
            max-width: (542/16rem);
        }

        .cs-topper {
            margin-bottom: (4/16rem);
            text-align: left;
        }

        .cs-title {
            max-width: (800/16rem);
            text-align: left;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            max-width: (750/16rem);
            text-align: left;

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            position: relative;
            border-radius: (16/16rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            margin-top: 30px;
        }

        .cs-flex-p {
            margin: 0 0 (16/16rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-name {
            display: block;
            margin: 0 0 (4/16rem);
            text-transform: uppercase;
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .cs-job {
            display: block;
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-quote-icon {
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: (1280/16rem);
            width: 100%;
            row-gap: (40/16rem);
        }

        .cs-left {
            position: relative;
            height: (636/16em);
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
        }

        .cs-picture {
            position: absolute;
            display: block;
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            top: 0;
            right: 0;
            height: (581/16em);
            width: (522/16em);
        }

        .cs-picture2 {
            bottom: 0;
            left: 0;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            height: (400/16em);
            width: (414/16em);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        }

        .cs-right {
            margin: auto;
            max-width: (542/16rem);
        }

        .cs-topper {
            margin-bottom: (4/16rem);
            text-align: left;
        }

        .cs-title {
            max-width: (800/16rem);
            text-align: left;
            margin-bottom: 40px;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            max-width: (750/16rem);
            text-align: left;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            position: relative;
            border-radius: (16/16rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .cs-flex-p {
            margin: 0 0 (16/16rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-name {
            display: block;
            margin: 0 0 (4/16rem);
            text-transform: uppercase;
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .cs-job {
            display: block;
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-quote-icon {
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            /* sends it to the right */
            order: 2;
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-62 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (20/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
            margin: 0;
            padding: 0;
        }

        .cs-img {
            width: (68/16rem);
            height: (68/16rem);
            margin: 0 auto (16/16rem);
            border-radius: 50%;
            display: block;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0 0 (16/16rem);
            color: #7d799c;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: auto;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-62 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            row-gap: (40/16rem);
        }

        .cs-item {
            /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 23% to get the desired sizes fit 4 in a row and then stack when you add more*/
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

                                