---
title: 'Mey CFO Services'
description: 'Fractional CFO Services for fast-growing startups'
preloadImg: '/assets/images/landing.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Boost your profits and cash flow
                </span>
                <h1 class="cs-title">Fractional CFO Services for fast-growing startups</h1>
                <p class="cs-text">
                </p>
                <p><font color=white size="+2">Serving eCommerce and SaaS companies</br> 
                    with expert financial guidance</font></p>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg"
            " alt="background" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/controlling.svg"
                alt="controlling"
                width="48"
                height="48"/>
            </picture>
            <h2>Controlling</h2>
            <p>Gain deep insights into what drives your business. Align your teams on key performance indicators and enable them to make informed, data-driven decisions.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/projection.svg"
                alt="projection"
                width="48"
                height="48"/>
            </picture>
            <h2>Cash Flow & Projections</h2>
            <p>Master your cash flow with tailored projections and scenario planning. Use your cash optimally while being ready for big challenges and opportunities.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/strategy.svg"
                alt="strategy"
                width="48"
                height="48"/>
            </picture>
            <h2>Financial Strategy</h2>
            <p> Set ambitious growth goals and achieve them consistently with a month by month action plan. Together, we'll identify and execute opportunities for equity or debt financing.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Side by Side             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/laptops.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laptops.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/laptops.jpg" alt="laptop" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/high five.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/high five.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/high five.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Fractional CFO</span>
                <h2 class="cs-title">Mey CFO Highlights</h2>
                <p></p>
                <p class="cs-text">
                    <span class="highlight-text">Cost-Effective</span><br> 
                    Access the financial expertise you require at a fraction of the cost of a<br>
                    full-time CFO, freeing up resources for marketing or product development.
                </p>
                <p></p>
                <p class="cs-text">
                    <span class="highlight-text">Growth-Focused</span><br>
                    In our monthly CFO report meetings we focus on scaling your business by leveraging profit and cash flow improvements.
                </p>
                <p class="cs-text">
                    <span class="highlight-text">Consistent Support</span><br>
                    Benefit from bi-weekly check-in calls to address your unique challenges and get support on current topics.
                </p>
                <p class="cs-text">
                    <span class="highlight-text">Proven Expertise</span><br>
                    Build a robust financial management for your business, including documentation that resonates with tech investors and banks.
                </p>
            </div>
            
            <style>
                .highlight-text {
                    font-size: 1.2em; /* Adjust size as needed */
                    font-weight: bold;
                }
            </style>
            
        </div>
    </section>


    <!-- ============================================ -->
    <!--                 About me               -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/me.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/me.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/me.jpeg" alt="Fred Mey" loading="lazy" width="400" height="563">
                </picture>
        
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Mey CFO Services</span>
                <h2 class="cs-title">Hi, I'm Fred Mey!</h2>
                <p class="cs-text">
                    As a finance enthusiast with over 6 years of experience, I've helped eCommerce and SaaS startups achieve their financial goals. I’ve scaled VC-backed startups as a CFO and worked on financial strategy and M&A projects for international corporations. My academic background includes degrees from The London School of Economics and the University of Mannheim, along with certifications in financial modeling and data analytics.
                    </p>
                    <p>
                    With Mey CFO Services, I am the partner by your side, empowering you to lead your business with forward-looking strategy and informed decisions. 
                </p>
                <p>
                    <p></p>
                    <p></p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        “With Fred, we improved our profit margin by 30% while still executing our growth plan. He truly understands our needs and expectations. It’s a high-trust relationship.” 
                    </p>
                    <span class="cs-name">Kylie Naughton</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </p>
                <a href="/contact" class="cs-button-solid">Get in touch</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-62">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Reviews</span>
                <h2 class="cs-title">Words from my clients</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile1.png" alt="profile" width="68" height="68">
                    <span class="cs-name">Riccardo Prevete</span>
                    <span class="cs-desc">California, US</span>
                    <p class="cs-item-text">
                        “Fred’s expertise helped us navigate through a critical growth phase. His insights into our cash flow were invaluable.”
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.png" alt="profile" width="68" height="68">
                    <span class="cs-name">Kylie Naughton</span>
                    <span class="cs-desc">Texas, US</span>
                    <p class="cs-item-text">
                        “Thanks to Fred, our SaaS startup secured the funding we needed to scale. His financial plans were spot on.”
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" alt="profile" width="68" height="68">
                    <span class="cs-name">Thomas Harberg</span>
                    <span class="cs-desc">Berlin, Germany</span>
                    <p class="cs-item-text">
                        "Fred’s guidance in financial strategy has been a game-changer for our eCommerce business. We’re now more confident in our growth trajectory."
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                

    {% include 'components/cta.html' %}
{% endblock %}